<div class="container">

    <!-- Pesquisa -->
    <div class="grid">
      <form autocomplete="off" >
        <div class="col-12">
          <h1>Itens</h1>
        </div>
  
        <div class="col-12 p-fluid">
          <label>Nome</label>
          <input pInputText    [(ngModel)]="filtro.Descricao" type="text" name="nome" >
        </div>
  
        <div class="col-12">
          <button pButton (click)="pesquisar()" type="submit" label="Pesquisar"></button>
        </div>
   
      </form>
    </div>
  
    <!-- Lista de pessoas -->
    <div class="grid">
      <div class="col-12">
        <p-table [value]="itens"   styleClass="p-datatable-gridlines"  [responsive]="true" [paginator]="true" [rows]="5" 
          [totalRecords]="totalRegistros" [(first)]="pagina" (onPage)="aoMudarPagina($event)"  #tabela>
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Nome</th>
            </tr>
          </ng-template>
  
          <ng-template pTemplate="body" let-itens>
            <tr>
              <td>
                <span class="p-column-title">ID</span>
                {{ itens.Id }}
              </td>
              <td>
                <span class="p-column-title">Nome</span>
                {{ itens.nome }}
              </td>
             
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">
                Nenhuma Item encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
     

      </div>
  
      
    </div>
  
  </div>