.navbar {
    padding: 5px 0 5px;
    background-color: #1e94d2;
}



.navbar-menuitem a:hover {
    color: #fff;
}

.navbar-menuitem.ativo {
    background-color: #c8c8c880;
}
 
svg{
    background-size: 100%;
    background-image: url("./LogoRosa.jpg");
    background-repeat: no-repeat;
    
}