<div class="container">
<!-- (ngSubmit)="pesquisar()" -->
  <form autocomplete="off" >
    <div class="grid">

      <div class="col-12 ">
        <h1>Movimentaçao</h1>
      </div>

      <div class="col-5 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="col-12">
        <label style="display: block">data</label>

        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="vencimentoInicio"
          [(ngModel)]="filtro.dataInicio"></p-calendar>

        <label class="label">até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="vencimentoFim"
          [(ngModel)]="filtro.dataFim"></p-calendar>
      </div>

      <div class="sm:col-4 lg:col-4">
        <button pButton icon="pi pi-search" class="p-button-info" (click)="pesquisar()" type="submit" label="Pesquisar"></button>
      </div>
      <div class="lg:col-6 sm:col-4">
      <button pButton  pRipple label="Relatorio" (click)="relatorio()" class="p-button-success" ></button>
    </div>
    <div class="lg:col-2 lg:p-fluid">
  <a pButton  class="p-button-warning" label="Novo Lançamento" routerLink="/lancamento/novo"></a>
</div>
    </div>
  </form>

  <div class="grid">
    <div class="col-12">
      <p-table [value]="movimentacao" [responsive]="true" [paginator]="true"  [showCurrentPageReport]="true"  [rows]="3" [rowsPerPageOptions]="[3,6,9]"
        [totalRecords]="totalRegistros"  [(first)]="pagina" (onPage)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nome">Descrição<p-sortIcon field="nome" /></th>
            <th pSortableColumn="data" class="col-data-header">Data<p-sortIcon field="data" /></th>
            <th  pSortableColumn="tipo">Tipo<p-sortIcon field="data" /></th>
            <th pSortableColumn="centrocusto">Centro de Custo<p-sortIcon field="centrocusto" /></th>
            <th pSortableColumn="classificacao">Classificaçao<p-sortIcon field="classificacao" /></th>
            <th>Quantidade</th>
            <th class="col-valor-header"></th>
          </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-movimentacao>
          <tr>
            <td>
              <span class="p-column-title">Descrição</span>
              {{ movimentacao.nome }}
            </td>

            <td>
              <span class="p-column-title">Data</span>
              {{ movimentacao.data | date:'dd/MM/yy'}}
            </td>
            <td>
              <span class="p-column-title">Tipo</span>
              {{ movimentacao.tipo }}
            </td>
            <td>
              <span class="p-column-title">Centro de Custo</span>
              <span>
                {{ movimentacao.centrocusto}}
              </span>
            </td>
            <td>
              <span class="p-column-title">Classificacao</span>
              <span>
                {{ movimentacao.classificacao}}
              </span>
            </td>
            <td>
              <span class="p-column-title">Quantidade</span>
              <span>
                {{ movimentacao.Quantidade }}
              </span>
            </td>
            <td class="col-acoes ">
              <a pButton icon="pi pi-book" pTooltip="Visualizar" tooltipPosition="top"
                [routerLink]="['/lancamento', movimentacao.Id]"></a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>