<div class="container">
  <form #lancamentoForm="ngForm" autocomplete="off">
    <div class="grid">
      <div class="col-12">
        <h1> Lançamento</h1>
      </div>
      <div class="col-12">
        <p-selectButton [options]="tipos"  #tipo name="tipo" [(ngModel)]="value" ></p-selectButton>
      </div>

    <!--   <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          [(ngModel)]="lancamento.dataVencimento" name="dataVencimento" #vencimento="ngModel" [required]="true">
        </p-calendar>

        <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>
      </div> -->
      <div  class="col-6 md:col-3 p-fluid">
        <label>{{'Data'}}</label>
        <p-calendar dateFormat="dd/mm/yy"   name="data" [(ngModel)]="movimentacao.data" #data="ngModel" [required]="true"></p-calendar>
      </div>
      <!-- <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="item.Descricao" #descricao="ngModel"
          [required]="true">

        <app-message [control]="descricao.control" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao.control" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.minlength?.actualLength }}">
        </app-message>
      </div> -->

  <div class="col-12 md:col-6 p-fluid">
        <label>Itens</label>
        <p-dropdown [options]="itens" class="p-dropdown-items"  optionLabel="nome" placeholder="Selecione" [(ngModel)]="item"
        [filter]="true" name="Itens" #Itens="ngModel" [required]="true"></p-dropdown>
      </div>
      
      <div class="col-12 md:col-3 p-fluid">
        <label>Quantidade</label>
        <p-inputNumber  [disabled]="view"  placeholder="0" [(ngModel)]="movimentacao.Quantidade"
          #valor="ngModel"  imode="decimal" [maxFractionDigits]="2" [required]="true" name="valor"></p-inputNumber>
      </div>
      <div *ngIf="tipo.value === 'SAIDA'" class="col-12 md:col-6 p-fluid">
        <label>Centro de Custo</label>
        <p-dropdown [options]="centrocusto"  optionLabel="nome" placeholder="Selecione" name="centrodcusto" [(ngModel)]="centrocustoS"
          [filter]="true" #centrodcusto="ngModel" [required]="true"></p-dropdown>
        </div>
      <div *ngIf="tipo.value === 'SAIDA'" class="col-12 md:col-6 p-fluid">
        <label>Classificação</label>
        <p-dropdown [options]="classificacao"  optionLabel="nome" placeholder="Selecione" name="Classificacao" [(ngModel)]="classificacaoS"
          [filter]="true" #Classificacao="ngModel" [required]="true"></p-dropdown>
        </div>
        <div  class="col-12 md:col-6 p-fluid">
          <label>Unidade</label>
          <p-dropdown [options]="unidades"  optionLabel="label" placeholder="Selecione" name="Unidades" [(ngModel)]="unidadeS"
            [filter]="true" #Unidade="ngModel" [required]="true"></p-dropdown>
          </div>
  
   
      <div  *ngIf="tipo.value === 'SAIDA'" class="col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="movimentacao.observacao"></textarea>
      </div> 
      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="lancamentoForm.invalid" (click)="salvaLancamento(lancamentoForm)" ></button>
        <button pButton label="Voltar" routerLink="/movimentacao"></button>
      </div>
    </div>

  </form>
</div>